<script type="text/javascript">
  function selectDeselectAll(selectAllCheckbox) {
      $("input:checkbox[name*='selected_ids']").each(function (index, selectCheckbox) {
         if (selectAllCheckbox.checked) {
             selectCheckbox.checked=true;
         } else {
             selectCheckbox.checked=false;
         }
      });
  }
</script>

<%= link_to 'View Disbursement Reports', pdf_reports_path %>
<h1>Filter Settings</h1>
<%= form_tag("/disbursement_records/index", :method => "get") do %>
    <label>Org. Name:</label><%= select_tag name='selected_org_name', options_for_select(@org_names, @selected_org_name) %>
    <label style="padding-left: 5px;">Begin Date:</label><%= select_date(@start_date, :prefix => 'start_date') %>
    <label style="padding-left: 5px;">End Date:</label><%= select_date(@end_date || Date.current, :prefix => 'end_date') %>
    <span style="padding-left: 5px;"><%= submit_tag "Apply" %></span>
<% end %>
<hr/>
<h1>Disbursement Records</h1>
<%= form_tag("/disbursement_records/show", :method => "post") do %>
    <label>Preview as HTML?</label><%=  check_box_tag "render_as_html" %>
    <br/>
    <%= submit_tag("Generate Report for Selected Records") %>
    <br/>
    <br/>
    <table id="dis-records-table" cellspacing="3" cellpadding="3" >
      <thead>
        <th><input type="checkbox" name="select_all" onclick="selectDeselectAll(this);" ></th>
        <th>Name</th>
        <th>Organization Name</th>
        <th>Date Created</th>
        <th>Created By</th>
      </thead>
      <tbody>
        <% @disbursement_records.each do |disbursement_record| %>
            <tr>
              <td><%= check_box_tag "selected_ids[]", disbursement_record.Id, false, :id => disbursement_record.Id %></td>
              <td><%= disbursement_record.Name %></td>
              <td><%= disbursement_record.OrganizationName__c %></td>
              <td><%= Time.parse(disbursement_record.CreatedDate).localtime.strftime("%-m/%-d/%Y") %></td>
              <td><%= disbursement_record.CreatedBy.Name %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
