<% if @authenticated %>
    <h4>Welcome <%= @me.name %>. You're logged in as <%= @me.username%>. <%= link_to 'Logout', logout_path %></h4>
    <h4>Click here to see a list of <%= link_to 'Disbursement Records', disbursement_records_index_path %></h4>
    <h4>Click here to see a list of previously generated <%= link_to 'PDF Disbursement Reports', pdf_reports_path %></h4>
<% else %>
    <h4>Please login to continue. <a href="/auth/salesforce">Login</a></h4>
<% end%>
